---
from: registration@chicagoworldconbid.org
fromname: Chicago in 2022 Bid - Registration
subject: Chicago in 2022 Bid - Registration Login Link
---
Dear {{&name}},

The email address attached to this Worldcon membership has been updated. Please find the instructions and a new personalized login link to access your membership data below. The login link connected to the old email address has been disabled.

If you have any questions regarding the membership update, please contact registration@chicagoworldconbid.org.


{{&login_uri}}

This link is personal to you, so it should not be shared.

If you have difficulties accessing the membership site, or you have more general questions, you can e-mail registration@chicagoworldconbid.org for assistance.


Thank you; we hope to see you at Chicago in 2022.


Sincerely,

The Chicago in 2022 - Registration Team
