---
from: it@chicagoworldconbid.org
fromname: Hugo Awards 2022
subject: Your 2022 Hugo Award and John W. Campbell Nominating Ballot
---
Dear {{&name}},

This email has been sent in error somewhere; please inform it@chicagoworldconbid.org.

Chicago in 2022 Bid
it@chicagoworldconbid.org
https://chicagoworldconbid.org/
