---
from: registration@chicagoworldconbid.org
fromname: Chicago in 2022 Bid - Registration
subject: Chicago in 2022 Bid - Access Key
---
To access your Chicago in 2022 Bid - member data for the address "{{&email}}", please open the following URL:

{{&login_uri}}

Visiting that URL will automatically log you in, with no need for passwords or other credentials. Please don't share the link or forward this email, as that'll allow any recipients to also access your account.

You've received this message because someone (hopefully you) requested it at chicagoworldconbid.org. If you believe you've received this message in error, you may either safely ignore it entirely, or get in touch with us by replying to this address.


Chicago in 2022 Bid
info@chicagoworldconbid.org
https://chicagoworldconbid.org/
