---
from: finance@chicagoworldconbid.org
fromname: Chicago in 2022 Bid - Finance
subject: Chicago in 2022 Bid - Payment {{&status}}: {{&typeLabel}}
---
{{#name}}
Dear {{&name}},

{{/name}}
Your {{&strAmount}} {{&typeLabel}} payment has {{&status}}. The specific details for this payment are as follows:

{{&data}}

Our charge ID for this transaction is {{&stripe_charge_id}}. If you have any questions or concerns, please get in touch with us by replying to this message.


Chicago in 2022 Bid
finance@chicagoworldconbid.org
https://chicagoworldconbid.org/
